@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

html {
    font-size: var(--font-size-html);
}

body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: var(--background-color-body);
    transition: 1s;
}

section {
    scroll-margin-top: 7rem;
}

/* Variáveis do CSS */
:root {
    /* Variaveis Globais */
    /* html */

    /* 62.5% = 10px */
    /* 75% = 12px  */
    /* 93.75 = 15px */

    --font-size-html: 62.5%;
    /* Variaveis Globais */

    /* body */
    --background-color-body: rgb(20, 20, 20);
    /* body */

    /* header */
    --background-header: rgb(20, 20, 20);
    --font-color-header: rgb(250, 250, 250);
    --font-size-header: 2rem;
    --font-sizei-header: 2rem;
    /* header */

    /* home */
    --background-home: rgb(20, 20, 20);
    --font-color-home: rgb(250, 250, 250);
    --font-sizeh1-home: 5rem;
    --font-sizep-home: 3rem;
    --background-button-home: rgb(140, 0, 180);
    --background-button2-home: rgb(170, 9, 214);
    --font-color-button-home: rgb(250, 250, 250);
    --font-sizebutton-home: 2rem;
    /* home */

    /* sobre */
    --background-sobre: rgb(20, 20, 20);
    --font-color-sobre: rgb(250, 250, 250);
    --font-sizeh2-sobre: 3rem;
    --font-sizep-sobre: 2rem;
    --background-button-sobre: rgb(140, 0, 180);
    --background-button2-sobre: rgb(170, 9, 214);
    --font-color-button-sobre: rgb(250, 250, 250);
    --font-sizebutton-sobre: 1.5rem;
    /* sobre */

    /* projetos */
    --background-color-projetos: rgb(20, 20, 20);
    --font-color-projetos: rgb(250, 250, 250);
    --background-color-projeto: rgb(30, 30, 30);
    /* projetos */

    /* footer */
    --background-footer: rgb(20, 20, 20);
    --font-color-footer: rgb(250, 250, 250);
    --font-size-footer: 2rem;
    /* footer */

    /* Botão tema */
    --background-color-btntema: rgb(20, 20, 20);
    /* Botão tema */
}

.dark-tema {
    /* body */
    --background-color-body: rgb(250, 250, 250);
    /* body */

    /* home */
    --background-home: rgb(250, 250, 250);
    --font-color-home: rgb(20, 20, 20);
    --background-button-home: rgb(140, 0, 180);
    --background-button2-home: rgb(170, 9, 214);
    --font-color-button-home: rgb(250, 250, 250);
    /* home */

    /* sobre */
    --background-sobre: rgb(250, 250, 250);
    --font-color-sobre: rgb(20, 20, 20);
    --background-button-sobre: rgb(140, 0, 180);
    --background-button2-sobre: rgb(170, 9, 214);
    --font-color-button-sobre: rgb(250, 250, 250);
    /* sobre */

    /* projetos */
    --background-color-projetos: rgb(250, 250, 250);
    --font-color-projetos: rgb(20, 20, 20);
    --background-color-projeto: rgb(238, 238, 238);
    /* projetos */

    /* footer */
    --background-footer: rgb(250, 250, 250);
    --font-color-footer: rgb(20, 20, 20);
    /* footer */

    /* Botão tema */
    --background-color-btntema: rgb(250, 250, 250);
    /* Botão tema */
}

.animar {
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.8s ease;
}

.animar.ativo {
    opacity: 1;
    transform: translateY(0);
}

/* Variáveis do CSS */

/* INTERFACE */

.interface {
    max-width: 128rem;
    margin: 0 auto;
    height: 100%;
}

/* INTERFACE */

/* HEADER */

header {
    background-color: var(--background-header);
    position: fixed;
    width: 100%;
    height: 7rem;
    transition: 0.3s linear;
    z-index: 1000;

    & span {
        color: rgb(140, 0, 180);
    }

    & a {
        color: var(--font-color-header);
        font-weight: 500;
        text-decoration: none;
        font-size: var(--font-size-header);
    }

    & i {
        color: rgb(140, 0, 180);
    }

    & .interface {
        display: flex;
        justify-content: space-between;
        align-items: center;

        & .logo {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0.5em;

            & img {
                width: 50px;
                height: 50px;
            }
        }

        & .menu {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1.5rem;
            transition: 0.5s;

            & a {
                color: var(--font-color-header);
                text-decoration: none;
                font-size: var(--font-size-header);
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 0.5rem;


                & i {
                    font-size: var(--font-sizei-header);
                }
            }

            & .btn-menufechar {
                display: none;
            }
        }

        & .btn-menu {
            background-color: transparent;
            border: none;
            display: none;

            & i {
                font-size: 3rem;
                color: rgb(140, 0, 180);
            }
        }

        & .overlay {
            display: none;
        }
    }

    &::after {
        content: "";
        display: block;
        width: 100%;
        height: 3px;
        background: linear-gradient(90deg, rgb(161, 97, 184) 0%, rgb(198, 28, 255) 50%, rgb(161, 97, 184) 100%);
    }

    .btn-tema {
        position: fixed;
        bottom: 3rem;
        right: 3rem;
        width: 5rem;
        height: 5rem;
        background-color: var(--background-color-btntema);
        z-index: 1000;
        border-radius: 50%;
        cursor: pointer;
        border: 3px solid rgb(140, 0, 180);
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 1s;

        & i {
            font-size: 3rem;
        }

    }
}

/* HEADER */

/* HOME */

.home {
    height: 100vh;
    background: var(--background-home);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;

    & span {
        color: rgb(140, 0, 180);
        font-weight: bold;
    }

    & .interface {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;

        & .informacoes {
            width: 50%;

            & h1 {
                font-size: var(--font-sizeh1-home);
                /*  <weight>: Use a value from 100 to 900 */
                font-family: "Montserrat", sans-serif;
                font-optical-sizing: auto;
                font-weight: 500;
                font-style: normal;
                color: var(--font-color-home);
            }

            & p {
                font-size: var(--font-sizep-home);
                /*  <weight>: Use a value from 100 to 900 */
                font-family: "Montserrat", sans-serif;
                font-optical-sizing: auto;
                font-weight: 300;
                font-style: normal;
                color: var(--font-color-home);
                margin-bottom: 3rem;
            }

            & .button {
                display: flex;
                align-items: center;
                justify-content: baseline;
                gap: 3rem;
                padding: 1rem 0rem;

                & a {
                    padding: 1rem;
                    background: linear-gradient(90deg, var(--background-button-home) 0%, var(--background-button2-home) 100%);
                    text-decoration: none;
                    color: var(--font-color-button-home);
                    font-size: var(--font-sizebutton-home);
                    border-radius: 20px;
                }
            }
        }

        & .foto {
            width: 50%;
            display: flex;
            justify-content: right;
            align-items: center;
            width: 500px;
            height: 500px;
            background: radial-gradient(circle, rgba(140, 0, 180, 1) 45%, rgba(170, 9, 214, 1) 100%);
            border-radius: 120px 0px 120px 0px;
            overflow: hidden;

            & img {
                width: 500px;
                height: 500px;
                justify-content: space-between;
                align-items: center;
            }
        }
    }
}

/* HOME */

/* SOBRE MIM */

.sobre {
    height: 70vh;
    background: var(--background-sobre);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;

    & span {
        color: rgb(140, 0, 180);
    }

    & .interface {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;

        & .foto {
            width: 50%;
            display: flex;
            justify-content: right;
            align-items: center;
            width: 500px;
            height: 500px;
            background: radial-gradient(circle, rgba(140, 0, 180, 1) 45%, rgba(170, 9, 214, 1) 100%);
            border-radius: 120px 0px 120px 0px;
            overflow: hidden;

            & img {
                width: 500px;
                height: 500px;
                justify-content: space-between;
                align-items: center;
            }
        }

        & .informacoes {
            width: 50%;

            & h2 {
                font-size: var(--font-sizeh2-sobre);
                /*  <weight>: Use a value from 100 to 900 */
                font-family: "Montserrat", sans-serif;
                font-optical-sizing: auto;
                font-weight: 500;
                font-style: normal;
                color: var(--font-color-sobre);
            }

            & p {
                font-size: var(--font-sizep-sobre);
                /*  <weight>: Use a value from 100 to 900 */
                font-family: "Montserrat", sans-serif;
                font-optical-sizing: auto;
                font-weight: 300;
                font-style: normal;
                color: var(--font-color-sobre);
                padding-top: 1rem;
                padding-bottom: 1rem;
                text-align: justify;
            }

            & .button {
                display: flex;
                align-items: center;
                justify-content: baseline;
                gap: 3rem;
                padding: 1rem 0rem;

                & a {
                    padding: 1rem;
                    background: linear-gradient(90deg, var(--background-button-sobre) 0%, var(--background-button2-sobre) 100%);
                    text-decoration: none;
                    color: var(--font-color-button-sobre);
                    font-size: var(--font-sizebutton-sobre);
                    border-radius: 20px;
                }
            }

            & .conhecimentos {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 2rem 0rem;

                & img {
                    width: 5rem;
                    height: 6rem;
                }
            }
        }
    }
}

/* SOBRE MIM */

/* PROJETOS */

.projetos {
    background: var(--background-color-projetos);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 7rem;
    transition: 1s;

    & span {
        color: rgb(140, 0, 180);
        font-weight: bold;
    }

    & .interface {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        & p {
            padding: 3rem 0rem;
            font-size: 3rem;
        }

        & .projetos-div {
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;

            & .projeto {
                width: 30rem;
                height: 43rem;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                background-color: var(--background-color-projeto);
                border: 3px solid rgb(140, 0, 180);

                & img {
                    width: 90%;
                    height: 40%;
                    object-fit: cover;
                    object-position: center;
                }

                & .titulo {
                    color: var(--font-color-projetos);
                    font-size: 1.5rem;
                    padding: 0;
                }

                & .descricao {
                    text-align: justify;
                    color: var(--font-color-projetos);
                    padding: 2rem 2rem;
                    font-size: 1.2rem;
                }

                & .links-projeto {
                    width: 90%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 2rem;

                    & a {
                        padding: 1rem;
                        background: linear-gradient(90deg, var(--background-button-home) 0%, var(--background-button2-home) 100%);
                        text-decoration: none;
                        color: var(--font-color-button-home);
                        font-size: var(--font-sizebutton-home);
                        border-radius: 20px;
                    }
                }
            }
        }
    }
}

/* PROJETOS */




/* FOOTER */

footer {
    background-color: var(--background-footer);
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;

    & .interface {
        height: 10vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        & p {
            color: var(--font-color-footer);
            text-align: center;
            font-size: var(--font-size-footer);
            padding: 2rem 0rem;
        }

        & .links {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 3rem;

            & a {
                & i {
                    font-size: 5rem;
                    color: rgb(140, 0, 180);
                }
            }
        }
    }
}

/* FOOTER */


/* SCROLLBAR */

/* A largura da barra */
::-webkit-scrollbar {
    width: 0.7rem;
}

/* A parte do fundo da barra */
::-webkit-scrollbar-track {
    background: rgb(20, 20, 20);

}

/* A parte que se move (o "thumb") */
::-webkit-scrollbar-thumb {
    background: rgb(140, 0, 180);
    min-height: 5px;

}

/* Quando passa o mouse por cima */
::-webkit-scrollbar-thumb:hover {
    background: rgb(169, 108, 185);
    /* um roxo um pouco mais claro */
}

/* SCROLLBAR */



/* ACESSIBILIDADE PARA CELULAR */

@media (min-width: 0px) and (max-width: 720px) {

    & .interface {
        max-width: none;
        width: 100%;
    }

    header {
        & .interface {
            padding: 0rem 3%;


            & .menu {
                z-index: 1000;
                position: fixed;
                width: 70vw;
                height: 100%;
                right: -100%;
                top: 0;
                flex-direction: column;
                background-color: rgba(20, 20, 20, 0.97);

                & a {
                    text-align: left;
                    justify-content: le;
                    width: 100%;
                    padding: 2rem 3rem;
                    gap: 1rem;
                }

                & .btn-menufechar {
                    display: block;
                    border: none;
                    background-color: transparent;

                    & i {
                        font-size: 3rem;
                        position: absolute;
                        top: 10px;
                        left: 10px;

                    }
                }
            }

            & .menu.active {
                right: 0;
            }

            & .btn-menu {
                display: block;
            }

            & .overlay {
                display: block;
                position: fixed;
                width: 100%;
                z-index: 900;
                height: 100%;
                left: 0;
                top: 0;
                display: none;
                background-color: rgba(20, 20, 20, 0.7);
                ;
            }

            & .overlay.active {
                display: block;
            }
        }

        & .btn-tema {
            bottom: 1rem;
            right: 1rem;
            width: 3.5rem;
            height: 3.5rem;

            & i {
                font-size: 2rem;
            }
        }
    }

    .home {
        height: auto;

        & .interface {
            flex-direction: column-reverse;
            justify-content: center;
            width: 100%;

            & .foto {
                width: 80%;
                height: 35%;
                border-radius: 30px 0px 30px 0px;
                margin-top: 10rem;

                & img {
                    width: 100%;
                    height: 100%;
                }

            }

            & .informacoes {
                width: 100%;
                padding: 1rem;

                & h1 {
                    text-align: center;
                    margin-bottom: 1rem;
                    font-size: 3.2rem;
                    margin-top: 2rem;
                }

                & p {
                    text-align: center;
                    margin-bottom: 1rem;
                    font-size: 2.5rem;
                }

                & .button {
                    justify-content: center;

                    & a {
                        padding: 1rem;
                        font-size: 1.8rem;
                    }
                }
            }
        }
    }

    .sobre {
        height: auto;
        margin: 0;

        & .interface {
            flex-direction: column;

            & .foto {
                width: 80%;
                height: 35%;
                border-radius: 30px 0px 30px 0px;
                margin-top: 10rem;

                & img {
                    width: 100%;
                    height: 100%;
                }

            }


            & .informacoes {
                width: 100%;
                padding: 1rem;

                & h2 {
                    text-align: center;
                    margin-bottom: 1rem;
                    font-size: 3.2rem;
                    margin-top: 2rem;
                }

                & p {
                    text-align: justify;
                    margin-bottom: 1rem;
                    font-size: 2.5rem;
                }

                & .button {
                    justify-content: center;

                    & a {
                        padding: 1rem;
                        font-size: 1.8rem;
                    }
                }

                & .conhecimentos {
                    flex-wrap: wrap;
                    padding: 2rem 0rem;

                    & img {
                        width: 5rem;
                        height: 6rem;
                    }
                }
            }
        }
    }

    & .projetos {

        & .interface {


            & .projetos-div {
                flex-direction: column;

                & .projeto {
                    margin-top: 1.5rem;
                }
            }
        }



    }
}

/* ACESSIBILIDADE PARA CELULAR */