@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

html {
    font-size: var(--font-size-html);
}

body {
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
}

/* Variáveis do CSS */
:root {
    /* Variaveis Globais */
    /* html */

    /* 62.5% = 10px */
    /* 75% = 12px  */
    /* 93.75 = 15px */

    --font-size-html: 75%;
    /* Variaveis Globais */

    /* header */
    --background-header: ;
    --background-header-scrolled: ;
    --font-color-header: ;
    --font-color-header-scrolled: ;
    --font-size-header: ;
    /* header */

    /* home */
    --background-home: ;
    --font-color-home: ;
    --font-sizeh1-home: 3rem;
    --font-sizep-home: 1.5rem;
    /* home */

    /* contato */
    --background-contato: ;
    --background-container-contato: ;
    --font-color-a-contato: ;
    --font-size-a-contato: ;
    --font-color-p-contato: ;
    --font-size-p-contato: ;
    --font-color-label-contato: ;
    --font-size-label-contato: ;
    --background-button-contato: ;
    --font-size-button-contato: ;

    /* contato */

    /* footer */
    --background-footer: ;
    --font-color-footer: ;
    --font-size-footer: ;
    /* footer */
}

.dark-theme {
    --background-header: ;
    --font-color-header: ;
    --font-size-header: ;
}

/* Variáveis do CSS */

/* INTERFACE */

.interface {
    max-width: 128rem;
    margin: 0 auto;
    height: 100%;
}

/* INTERFACE */

/* HEADER */

header {
    background-color: var(--background-header);
    position: fixed;
    width: 100%;
    transition: 0.5s;
    height: 7rem;

    & a {
        color: var(--font-color-header);
        text-decoration: none;
        font-size: var(--font-size-header);
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
    }

    & .interface {
        display: flex;
        justify-content: space-between;
        align-items: center;

        & .logo {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0.5em;

            & img {
                width: 50px;
                height: 50px;
            }
        }

        & .menu {
            & ul {
                display: flex;

                & li {
                    list-style: none;
                    padding: 1em;
                }
            }
        }
    }
}

header.scrolled {
    background-color: var(--background-header-scrolled);
}

/*header::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 0.1em;
    background-image: linear-gradient(90deg, rgb(130, 87, 230) 0%, rgb(164, 14, 228) 92.32%);
}*/

/* HEADER */

/* HOME */

.home {
    height: 100vh;
    background-color: var(--background-home);
    display: flex;
    justify-content: center;
    align-items: center;

    & .interface {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;

        & .informacoes {
            width: 50%;

            & h1 {
                font-size: var(--font-sizeh1-home);
                /*  <weight>: Use a value from 100 to 900 */
                font-family: "Montserrat", sans-serif;
                font-optical-sizing: auto;
                font-weight: 500;
                font-style: normal;
            }

            & p {
                font-size: var(--font-sizep-home);
                /*  <weight>: Use a value from 100 to 900 */
                font-family: "Montserrat", sans-serif;
                font-optical-sizing: auto;
                font-weight: 300;
                font-style: normal;
            }


        }

        & .foto {
            width: 50%;
            display: flex;
            justify-content: right;
            align-items: center;

            & img {
                width: 400px;
                height: 450px;
                justify-content: space-between;
                align-items: center;
                box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.329);
            }
        }
    }
}

/* HOME */

/* CONHECIMENTOS */

.conhecimentos {
    & .interface {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        & .conhecimentos {
            & .tecnologias {
                display: flex;
                justify-content: space-around;

                & .container {
                    width: 10em;
                    height: 10em;
                }
            }
        }
    }
}

/* CONHECIMENTOS */

/* CONTATOS */
.contato {
    background-color: var(--background-contato);
    height: 70vh;

    & .interface {
        display: flex;
        justify-content: center;
        align-items: center;

        & .container {
            width: 40%;
            height: 80%;
            background-color: var(--background-container-contato);
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            border-radius: 1em;
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);

            & .meio_contato {
                width: 80%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                & ul {
                    width: 20em;
                    display: flex;
                    justify-content: space-around;
                    padding: 1em;

                    & li {
                        list-style: none;

                        & a {
                            color: var(--font-color-a-contato);
                            font-size: var(--font-size-a-contato);
                        }
                    }
                }

                & p {
                    color: var(--font-color-p-contato);
                    font-size: var(--font-size-p-contato);
                }
            }

            & .email {
                width: 80%;
                height: 50%;
                display: flex;
                align-items: center;
                flex-direction: column;

                & .form-group {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 1.5em;

                    & label {
                        color: var(--font-color-label-contato);
                        font-size: var(--font-size-label-contato);
                    }

                    & input {
                        width: 100%;
                        height: 3em;
                        border-radius: 1em;
                        border: none;
                        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
                    }
                }

                & button {
                    background-color: var(--background-button-contato);
                    width: 40%;
                    font-family: "Roboto Condensed", sans-serif;
                    font-weight: bold;
                    font-size: var(--font-size-button-contato);
                    border: none;
                    border-radius: 0.5em;
                    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
                    padding: 1em;
                }
            }

        }
    }

}

/* CONTATOS */

/* FOOTER */

footer {
    background-color: var(--background-footer);

    & .interface {
        height: 10vh;
        display: flex;
        justify-content: center;
        align-items: center;

        & p {
            color: var(--font-color-footer);
            text-align: center;
            font-size: var(--font-size-footer);
        }
    }
}



/* FOOTER */